<section>
	<a href="/usuarios">dsfds</a>
	<form ng-controller="datos">
		<label>nombre</label>
		<input type="text" ng-model="reg.name">
		<label>Apellido</label>
		<input type="text" ng-model="reg.apellido">
		<label>Correo</label>
		<input type="text" ng-model="reg.correo">
		<button ng-click="guardar(reg)">Guardar</button>
		<button ng-click="update(reg)">Update</button>
		<button ng-click="delete(reg.name)">delete</button>
	</form>
</section>