
<section class="ContenedorTienda">
	
	<h1>Forma de Pago</h1>
	<div class="contenedor">
		<nav class="nav">
			<ul>
				<a href="">
					<li>
						<span><img src="/images/miCarrito.jpg">detalles del servicio y promociones</span>
					</li>
				</a>
				<a href=""><li><span><img src="/images/miCarrito.jpg">configuración del servicio</span></li></a>
				<a href=""><li><span><img src="/images/miCarrito.jpg">Forma de Pago</span></li></a>
				<a href=""><li><span><img src="/images/miCarrito.jpg">Facturación</span></li></a>
				<a href=""><li><span><img src="/images/miCarrito.jpg">Facturación</span></li></a>
			</ul>
		</nav>
		<article class="contenedor2">
			<div class="envoltura">
				<div class="bolso">
					<p>Bolso Protegido Ultra</p>
					<span>La poliza cunbre:</span>
					<ul>
						<li>Obejectos Personaes</li>
						<li>llaves y servicio de cajero</li>
						<li>Llaves y servicio de Cajero</li>
						<li>Bolso y Cosméticos</li>
						<li>Equipo Electrónico personal</li>
					</ul>

				</div>
				<div class="resumen">
					<p>Resumen de la compra</p>
					<span>Resumen del servicio seleccionado y opciones de configuración elegidas.</span>
					<p>Precio:</p>
					<p>Normal:</p><span class="absolut">$999.00</span>
					<p>Descuentos</p><span class="absolut2">-$0.00</span>
					<hr/>
					<span>Total</span><span class="absolut3">$999.00</span>
				</div>
			</div>

			<div class="metodo">
				<div class="bolso">
					<input type="checkbox" id="telmex">
					<label for="telmex">Pago con cargo a recibo Telmex</label>

					<img src="/images/telmex.jpg">
				</div>
				<div class="resumen">
					<input type="checkbox" id="credito">
					<label for="credito">Tarjeta de credito</label>
					<img src="/images/visa.jpg">
					<img src="/images/masterCard.jpg">

				</div>
				<div class="bolso">
					<input type="checkbox" id="debito">
					<label for="debito">Tarjeta de débito</label>
					<img src="/images/visa.jpg">
					<img src="/images/masterCard.jpg">


				</div>
				<div class="resumen">
					<input type="checkbox" id="bancaria">
					<label for="bancaria">Transferencia bancaria</label>
					
				</div>
				<div class="bolso">
					<input type="checkbox" id="oxxoseven">
					<label for="oxxoseven">Pago en efectivo con depósito en Oxxo y 7Eleven</label>
					<img src="/images/oxxo.jpg">
					<img src="/images/eleven.jpg">

					
				</div>
				<div class="resumen">
					
				</div>
				
			</div>
			<input type="checkbox" id="requiere">
			<label for="requiere">Requiero factura</label>
			<button>Continuar</button>
		</article>
	</div>

 	
 	
</section>