<!--section class="contenedor">
	<article>
		<div>
			<h1>Paso Uno</h1>
			<div class="cont">
				<img src="/images/Activación de Cámara-03.jpg">
				<img src="/images/Activación de Cámara-04.jpg">
				<img src="/images/Activación de Cámara-05.jpg">
				<span class="sp-titulo">1. Conecta a la Corriente</span>
				<span class="sp-texto">Conecta la cámara a la fuente de alimentación. Espera un minimo a que el foco de 'Alarm' cambie a 'azul'.</span>
				<button>Siguiente</button>
			</div>
		</div>
	</article>
</section-->

<section class="contenedor">
	<article>
		<div>
			<h1>Paso Dos</h1>
			<div class="cont">
				<img src="/images/Activación de Cámara-06.jpg">
				<img class="img" src="/images/Activación de Cámara-07.jpg">
				<img src="/images/Activación de Cámara-08.jpg">
				<span class="sp-titulo">1. Enlaza tu dispositivo a la red </span>
				<span class="sp-texto">Presiona el botón de WPS tanto en tu cámara como en tu módem y espera un minuto.</span>
				<button>Siguiente</button>
			</div>
		</div>
	</article>
</section>