<section class="contenedor">
	<article>
		<div>
			<h1>Activa tu cuenta</h1>
			<div class="nav">
				<ul>
					<li>
						<a href="" class="person">
							<span>Información personal</span>
						</a>
					</li>
					<li>
						<a href="" class="dir">
							<span>Dirección</span>
						</a>
					</li>
					<li>
						<a href="" class="bien">
							<span>Terminar</span>
						</a>
					</li>
				</ul>
			</div>
			<form>
				<h5>Ingresa los campos requeridos</h5>
				<div>
					<label>Código de activación:*</label>
					<input type="text"/>
				</div>
				<div>
					
					<label>Nombre completo:*</label>
					<input type="text"/>
					<label>Apellido paterno:*</label>
					<input type="text"/>
					<label>Apellido materno:*</label>
					<input type="text"/>
					<label>Número de celular:*</label>
					<input type="text" placeholder="10 digitos (LADA y número)"/>
					<label>Teléfono fijo:*</label>
					<input type="text" placeholder="10 digitos (LADA y número)"/>
					<label>Nombre de usuario:*</label>
					<input type="text" placeholder="No es modificable"/>
					<label>Contraseña:*</label>
					<input type="text"/>
					<label>Confirmar contraseña:*</label>
					<input type="text"/>
					<label>Pregunta secreta 1:*</label>
					<input type="text" placeholder="Selecciona"/>
					<label>Escribe tu Respuesta:*</label>
					<input type="text"/>
					
				</div>
				

				<input type="checkbox" id="chk">
				<label for="chk">He leído y entendido los terminos y condiciones del servicio.</label>
				<span>todos los campos marcados con * son necesarios</span>
				
				<img src="/images/iconoSeguridad-26.png"><span>Servicio Seguro</span>
				<button>Activar</button>
			</form>			
		</div>
	</article>
</section>