<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<div class="row">
			
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h2>area del rectangulo</h2>
				<div class="form.group">
					<label for="base">Base</label>
					<input type="text" id="base" placeholder="base"></input>
				</div>
				<div class="form.group">
					<label for="base">Altura</label>
					<input type="text" id="altura" placeholder="altura"></input>
				</div>
				<div id="resultado">
					<pre>---zona resulatdo--</pre>
				</div>
				<button id="calcular" class="btn">calcular</button>
			</div>
		</div>
	</div>
<script>
	window.addEventListener ('load', init);


	function calcularArea(base, altura) {
		return base * altura;
	}
	function init(event){

	var zonaResultado = document.querySelector('#resultado>pre');
	var botonCalcular = document.querySelector('#calcular');

	botonCalcular.addEventListener('click', function(event){
		var base = document.querySelector('#base').value;
		var altura = document.querySelector('#altura').value;

		zonaResultado.innerHTML = calcularArea(base, altura);
		

	});
	

	botonCalcular.addEventListener('mouseover', function(event){
		event.target.className += 'sobre';
		event.target.innerHTML = 'click';
	});
	botonCalcular.addEventListener('mouseout', function(event){
		event.target.className = event.target.className.replace(' sobre', '');
		event.target.innerHTML = 'calcular'; 
	})
	}
</script>
</body>
</html>