
<section class="contenedor" ng-controller="Controlador">
	<div class="ventanaModal" ng-show="habilitado">
		ventana
		<button ng-click="eliminar()">aceptar</button>
		<button ng-click="habilita()">cancelar</button>
	</div>
	<button ng-click="ver()">eliminar</button>
	

</section>