<section class="contenedor">
	<article>
		<div>
			<h1>Activa tu cuenta</h1>
			<div class="nav">
				<ul>
					<li>
						<a href="" class="person">
							<span>Información personal</span>
						</a>
					</li>
					<li>
						<a href="" class="dir">
							<span>Dirección</span>
						</a>
					</li>
					<li>
						<a href="" class="bien">
							<span>Terminar</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="contenido">
				<h1>!GRACIAS¡</h1>
				<span>Tu cuenta ha sido activada exitosamente.</span>

				<span>Recuerda que puedes modificar tu información personal posteriormente desde los ajustes de tu cuenta.</span>
				<button>Finalizar</button>
			</div>		
		</div>
	</article>
</section>